
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.food {
  padding: 10px;
  line-height: 10px;
  border: 5px solid #B4460B;
  height: 200%;
  max-width: 50%;
  background-color: yellow;
  opacity: 0.5;
}

.foodlist {
  border: 10px solid #B3322B;
  padding: 5px;
  background: url("images/food.jpeg") no-repeat center center fixed;
  background-color: yellow;
  opacity: 0.5;
  max-width: 90%;
  align-content: left;
}

.foodlist:hover {
  opacity: 1;
  background-color: white;
}

link:hover {
  background-color: black;
}
